[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
requests = "*"
beautifulsoup4 = "*"
urllib3 = "*"
aiogram = "*"
cchardet = "*"
uvloop = "*"
aiohttp = {extras = ["speedups"], version = "*"}
environs = "*"
python-telegram-bot-pagination = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
